@{
    ViewBag.Title = "ViewEmployers";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<section>
    <!-- This is only visible to small devices -->
    @Html.Partial("~/Views/Header/_partialAdminHeader.cshtml")

    <!-- headerbar -->
    <div class="pageheader">
        <h2><i class="fa fa-user"></i> View Employers</h2>
        
    </div>

    <div class="contentpanel">
        <div class="mb30"></div>

        <div class="people-list">
            <div class="row">

                <div class="col-md-6">
                    <div class="people-item">
                        <div class="media">
                            <a href="#" class="pull-left">
                                <img alt="" src="/Content/userContent/images/job-list-logo-03.png" class="thumbnail media-object">
                            </a>
                            <div class="media-body">
                                <h4 class="person-name">King</h4>
                                <div class="text-muted"><i class="fa fa-map-marker"></i> Lahore, pakistan</div>
                                <div class="text-muted"><i class="fa fa-briefcase"></i> SomeCompany, Inc.</div>
                                <ul class="social-list">
                                    <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="Email this User"><i class="fa fa-envelope-o"></i></a></li>
                                    <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="Deactivate this User"><i class="fa  fa-ban"></i></a></li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- col-md-6 -->

                <div class="col-md-6">
                    <div class="people-item">
                        <div class="media">
                            <a href="#" class="pull-left">
                                <img alt="" src="/Content/userContent/images/job-list-logo-02.png" class="thumbnail media-object">
                            </a>
                            <div class="media-body">
                                <h4 class="person-name">Brother Ind.</h4>
                                <div class="text-muted"><i class="fa fa-map-marker"></i> Karachi, Pakistan</div>
                                <div class="text-muted"><i class="fa fa-briefcase"></i> SomeCompany, Inc.</div>
                                <ul class="social-list">
                                    <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="Email this User"><i class="fa fa-envelope-o"></i></a></li>
                                    <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="Deactivate this User"><i class="fa  fa-ban"></i></a></li>
                               </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- col-md-6 -->

                <div class="col-md-6">
                    <div class="people-item">
                        <div class="media">
                            <a href="#" class="pull-left">
                                <img alt="" src="/Content/userContent/images/job-list-logo-04.png" class="thumbnail media-object">
                            </a>
                            <div class="media-body">
                                <h4 class="person-name">Fata Corp.</h4>
                                <div class="text-muted"><i class="fa fa-map-marker"></i> Islamabad, Pakistan</div>
                                <div class="text-muted"><i class="fa fa-briefcase"></i>SomeCompany, Inc.</div>
                                <ul class="social-list">
                                    <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="Email this User"><i class="fa fa-envelope-o"></i></a></li>
                                    <li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="Deactivate this User"><i class="fa  fa-ban"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- col-md-6 -->

            </div><!-- row -->
        </div><!-- people-list -->

    </div><!-- contentpanel -->
    </div><!-- mainpanel -->

</section>