@model Din_Media_Group_Job_Portal.Models.tb_profile_employee
@{
    ViewBag.Title = "AddResume";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<script type="text/javascript" src="/Content/datepicker/jquery-ui.js"></script>
<link type="text/css" href="/Content/datepicker/jquery-ui.css" rel="stylesheet" />
<style>
    .ui-datepicker {
        position: relative;
        z-index: 10000 !important;
    }

    .datepicker {
        z-index: 999999 !important;
    }
</style>
<div id="wrapper">

    <!-- Header
    ================================================== -->
    <header class="sticky-header full-width">
        @Html.Partial("~/Views/Header/HeaderSelectionJobSeeker.cshtml")
    </header>
    <div class="clearfix"></div>
    <script>
        $(".sticky-header #logo a img").attr("src", "/Content/userContent/images/logo.png");
    </script>

    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="single submit-page">
        <div class="container">
            <div class="sixteen columns">
                <h2><i class="fa fa-plus-circle"></i> Add Resume</h2>
            </div>
        </div>
    </div>
    <!-- Content
    ================================================== -->
    <div class="container">
        <!-- Submit Page -->
        <div class="sixteen columns">
            <div class="submit-page">
                <!-- Notice -->
                <div class="notification notice closeable margin-bottom-40">
                    <p><span>You have not created your profile yet.</span> Create your profile to get attention of companies.</p>
                </div>
                <!-- Linked In
                <div class="form">
                    <h5>LinkedIn</h5>
                    <a href="#" class="button linkedin-btn">Import from LinkedIn</a>
                </div> -->
                <!-- Email -->
                <form action="/Jobseeker/CreateProfileFirstTime" method="post" enctype="multipart/form-data">


                    <div class="form">
                        <h5>Mobile No</h5>
                        <input class="search-field" type="text" placeholder="____-_______" value="" name="mobile" />
                    </div>
                    <!-- Email
                    <div class="form">
                        <h5>Your Email</h5>
                        <input class="search-field" type="text" placeholder="mail@example.com" value="" readonly />
                    </div>-->
                    <!-- Title
                    <div class="form">
                        <h5>Professional Title</h5>
                        <input class="search-field" type="text" placeholder="e.g. Web Developer" value="" />
                    </div> -->
                    <!-- Location
                    <div class="form">
                        <h5>Location</h5>
                        <input class="search-field" type="text" placeholder="e.g. London, UK" value="" />
                    </div> -->
                    <!-- Logo -->
                    <div class="form">
                        <h5>Profile Photo <span>(optional)</span></h5>
                        <label class="upload-btn">
                            <input type="file" id="profile_picture_upload" name="profile_picture" required />
                            <i class="fa fa-upload"></i> Browse
                        </label>
                        <span class="fake-input" id="input-name-profile-picture">No file selected</span>
                    </div>
                    <div class="form">
                        <h5>Cover Photo <span>(optional)</span></h5>
                        <label class="upload-btn">
                            <input type="file" id="cover_picture_upload" name="cover_picture" required />
                            <i class="fa fa-upload"></i> Browse
                        </label>
                        <span class="fake-input" id="input-name-cover-picture">No file selected</span>
                    </div>

                    <!-- Email -->
                    <div class="form">
                        <h5>Video <span>(optional)</span></h5>

                        <label class="upload-btn">
                            <input class="search-field" type="file" id="profile_video_upload" name="video" />
                            <i class="fa fa-upload"></i> Browse
                        </label>
                        <span class="fake-input" id="input-name-profile-video">No file selected</span>
                    </div>

                    <!-- Description -->
                    <div class="form">
                        <h5>Summary (About you)</h5>
                        <textarea class="WYSIWYG" name="summary" cols="40" rows="3" id="summary" spellcheck="true" required></textarea>
                    </div>

                    <!-- Add URLs -->
                    <div class="form with-line">
                        <h5>URL(s) <span>(optional)</span></h5>
                        <div class="form-inside">

                            <!-- Adding URL(s) -->
                            <div class="form boxed box-to-clone url-box">
                                <a href="#" class="close-form remove-box button"><i class="fa fa-close"></i></a>
                                <input class="search-field" type="text" placeholder="Name" value="" name="url_name" />
                                <input class="search-field" type="text" placeholder="http://" value="" name="url" />
                            </div>

                            <a href="#" class="button gray add-url add-box"><i class="fa fa-plus-circle"></i> Add URL</a>
                            <p class="note">Optionally provide links to any of your websites or social network profiles.</p>
                        </div>
                    </div>

                    <!-- Education -->
                    <div class="form with-line">
                        <h5>Education <span>(optional)</span></h5>
                        <div class="form-inside">

                            <!-- Add Education -->
                            <div class="form boxed box-to-clone education-box">
                                <a href="#" class="close-form remove-box button"><i class="fa fa-close"></i></a>
                                Institution Name
                                <input class="search-field" type="text" placeholder="e.g. University of the Punjab" value="" name="institution_name" />
                                Degree Title
                                <input class="search-field" type="text" placeholder="e.g. BS Hons" value="" name="degree_title" />
                                Field of Study
                                <input class="search-field" type="text" placeholder="e.g. Computer Science" value="" name="field_of_study" />
                                <span style="float:left; width:45%;">
                                    From Year
                                    <input class="search-field" type="text" placeholder="e.g. 2107" value="" name="education_start_date" />
                                </span>
                                <span style="float: right; width: 45%;" id="end-date">
                                    To Year (or expected)
                                    <input class="search-field" type="text" placeholder="e.g. 2017" value="" name="education_end_date" />
                                </span>
                                <textarea name="education_notes" id="desc" cols="30" rows="10" placeholder="Notes (optional)"></textarea>
                            </div>

                            <a href="#" class="button gray add-education add-box"><i class="fa fa-plus-circle"></i> Add Education</a>
                        </div>
                    </div>
                    <!-- Skill  -->
                    <div class="form with-line">
                        <h5>Skills <span>(optional)</span></h5>
                        <div class="form-inside">

                            <!-- Add Skills -->
                            <div class="form boxed box-to-clone skills-box">
                                <a href="#" class="close-form remove-box button"><i class="fa fa-close"></i></a>
                                Add a new skill
                                <input class="search-field" type="text" placeholder="" value="" name="skill_name" />
                                Experience with this skill
                                <select class="form-control md-input" name="skill_experience" id="workExp" style="height:50px;">
                                    <option value="">Select One</option>
                                    <option value="Less than 1 Year">Less than 1 Year</option>
                                    <option value="1 Year">1 Year</option>
                                    <option value="2 Years">2 Years</option>
                                    <option value="3 Years">3 Years</option>
                                    <option value="4 Years">4 Years</option>
                                    <option value="5+ Years">5+ Years</option>
                                </select>

                            </div>

                            <a href="#" class="button gray add-skill add-box"><i class="fa fa-plus-circle"></i> Add Skill</a>
                        </div>
                    </div>

                    <!-- Experience  -->
                    <div class="form with-line">
                        <h5>Experience <span>(optional)</span></h5>
                        <div class="form-inside">

                            <!-- Add Experience -->
                            <div class="form boxed box-to-clone experience-box">
                                <a href="#" class="close-form remove-box button"><i class="fa fa-close"></i></a>
                                Title
                                <input class="search-field" type="text" placeholder="e.g. Software Engineer" value="" name="job_title" />
                                Company
                                <input class="search-field" type="text" placeholder="e.g. Microsoft" value="" name="company_name" />
                                Location
                                <input class="search-field" type="text" placeholder="e.g. Lahore" value="" name="company_location" />
                                <label for="current-job" id="current-job-checkbox">
                                    <input type="checkbox" class="search-field" name="experience_currently_working" /> I currently work here
                                </label>
                                <span style="float:left; width:45%;">
                                    From
                                    <input type="text" class="form-last-name" placeholder="2017-02-22" id="datepicker1" name="experience_start_date" />
                                </span>
                                <span style="float: right; width: 45%;" id="end-date" class="end-date-current-job">
                                    To
                                    <input class="search-field" type="text" placeholder="e.g. 2017" value="" name="experience_end_date" />
                                </span>

                                <textarea name="experience_notes" id="desc" cols="30" rows="10" placeholder="Notes (optional)"></textarea>
                            </div>

                            <a href="#" class="button gray add-experience add-box"><i class="fa fa-plus-circle"></i> Add Experience</a>
                        </div>
                    </div>
                    <!-- Project  -->
                    <div class="form with-line">
                        <h5>Projects <span>(optional)</span></h5>
                        <div class="form-inside">

                            <!-- Add Project -->
                            <div class="form boxed box-to-clone project-box">
                                <a href="#" class="close-form remove-box button"><i class="fa fa-close"></i></a>
                                Title
                                <input class="search-field" type="text" placeholder="e.g. Job Portal Desktop" value="" name="project_title" />
                                Position
                                <input class="search-field" type="text" placeholder="e.g. Project Manager" value="" name="position" />
                                URL
                                <input class="search-field" type="text" placeholder="e.g. https://" value="" name="project_url" />
                                <label for="current-job" id="current-job-checkbox">
                                    <input type="checkbox" class="search-field" name="project_currently_working" /> Currently Working
                                </label>
                                <span style="float:left; width:45%;">
                                    From
                                    <input type="text" class="form-last-name" placeholder="2017-02-22" id="datepicker1" name="project_start_date" />
                                </span>
                                <span style="float: right; width: 45%;" id="end-date">
                                    To
                                    <input class="search-field" type="text" placeholder="e.g. 2017" value="" name="project_end_date" />
                                </span>
                                <textarea name="project_notes" id="desc" cols="30" rows="10" placeholder="Notes (optional)"></textarea>
                            </div>

                            <a href="#" class="button gray add-experience add-box"><i class="fa fa-plus-circle"></i> Add Project</a>
                        </div>
                    </div>
                    <!-- Languages  -->
                    <div class="form with-line">
                        <h5>Languages <span>(optional)</span></h5>
                        <div class="form-inside">

                            <!-- Add Languages -->
                            <div class="form boxed box-to-clone languges-box">
                                <a href="#" class="close-form remove-box button"><i class="fa fa-close"></i></a>
                                Add a new language
                                <select class="form-control md-input" name="language_name" id="workExp" style="height:50px;">
                                    <option value=""> Select One </option>
                                    <option value="Albanian"> Albanian </option>
                                    <option value="Arabic"> Arabic </option>
                                    <option value="Armenian"> Armenian </option>
                                    <option value="Balochi"> Balochi </option>
                                    <option value="Belarusan"> Belarusan </option>
                                    <option value="Bosnian"> Bosnian </option>
                                    <option value="Bulgarian"> Bulgarian </option>
                                    <option value="Cantonese"> Cantonese </option>
                                    <option value="Catalan"> Catalan </option>
                                    <option value="Chinese"> Chinese </option>
                                    <option value="Czech"> Czech </option>
                                    <option value="Urdu"> Urdu </option>
                                </select>
                                Proficiency with this language
                                <select class="form-control md-input" name="language_proficiency" id="workExp" style="height:50px;">
                                    <option value="">Select One</option>
                                    <option value="Beginner">Beginner</option>
                                    <option value="Intermediate">Intermediate</option>
                                    <option value="Expert">Expert</option>
                                </select>

                            </div>

                            <a href="#" class="button gray add-skill add-box"><i class="fa fa-plus-circle"></i> Add Language</a>
                        </div>
                    </div>
                    <div class="divider margin-top-0 padding-reset"></div>
                    <button type="submit" class="button big margin-top-5">Preview <i class="fa fa-arrow-circle-right"></i></button>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer
    ================================================== -->
    <div class="margin-top-60"></div>

    @Html.Partial("~/Views/Footer/_partialUserFooter.cshtml")
    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->

<script>
    jQuery(document).ready(function () {
        $('#datepicker1').datepicker();
        // $('#myform :checkbox')
        $('#current-job-checkbox :checkbox').change(function () {
            if ($(this).is(':checked')) {
                //Do stuff
                $('#end-date').hide();
            }
            else {
                $('.end-date-current-job').show();
            }
        });

    });
</script>
<script>
    $(function () {

        $("#profile_picture_upload").change(function () {
            var _URL = window.URL || window.webkitURL;
            var file, img;
            var h, w, size, name;
            if ((file = this.files[0])) {
                img = new Image();
                img.onload = function () {
                    //alert(this.width + " " + this.height);
                    h = this.height;
                    w = this.width;
                    size = file.size;
                    name = file.name;
                    size = size / 1024;
                  //  $("#dvPreview_profile").html("");
                    var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                    if (regex.test(file.name.toLowerCase())) {
                        if (typeof (FileReader) != "undefined") {
                           
                            $('#input-name-profile-picture').text(name);
                            //reader.readAsDataURL(file);
                        } else {
                            alert("This browser does not support FileReader.");
                        }
                        //}
                    } else {
                        alert("Please upload a valid image file.");
                        contactForm.reset();
                    }

                };
                img.src = _URL.createObjectURL(file);
            }
        });
        $("#cover_picture_upload").change(function () {
            var _URL = window.URL || window.webkitURL;

            var file, img;
            var h, w, size, name;
            if ((file = this.files[0])) {
                img = new Image();
                img.onload = function () {
                    //alert(this.width + " " + this.height);
                    h = this.height;
                    w = this.width;
                    size = file.size;
                    name = file.name;
                    //alert(name);
                    //alert(size);
                    size = size / 1024;
                    //alert(h+w);
                    var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                    if (regex.test(file.name.toLowerCase())) {
                       
                        if (typeof (FileReader) != "undefined") {
                            $('#input-name-cover-picture').text(name);
                            //reader.readAsDataURL(file);
                        } else {
                            alert("This browser does not support FileReader.");
                        }
                        //}
                    } else {
                        alert("Please upload a valid image file.");
                        contactForm.reset();
                    }

                };
                img.src = _URL.createObjectURL(file);
            }
        });
        $("#profile_video_upload").change(function () {
            var _URL = window.URL || window.webkitURL;
            var file, img;
            var h, w, size, name;
            if ((file = this.files[0])) {
                name = this.files[0].name;

                $("#dvPreview_profile_video").html("");
                var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.mp4|.flv|.avi|.mkv|.wmv)$/;
                if (regex.test(file.name.toLowerCase())) {
                    if (typeof (FileReader) != "undefined") {
                            $('#input-name-profile-video').text(name);
                    } else {
                        alert("This browser does not support FileReader.");
                    }
                    //}
                } else {
                    alert("Please upload a valid image file.");
                    //contactForm.reset();
                }
                img = _URL.createObjectURL(this.files[0]);
            }
        });
      
    });
</script>