@{
    ViewBag.Title = "Job Portal || A Project of Din Media Group";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div id="wrapper">
   
    <!-- Header
    ================================================== -->
    <header class="sticky-header full-width">
        @Html.Partial("~/Views/Header/HeaderSelectionJobSeeker.cshtml")
    </header>
    <div class="clearfix"></div>
    <script>
        $(".sticky-header #logo a img").attr("src", "/Content/userContent/images/logo.png");
    </script>
    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="resume photo-bg" style="background: url(/Content/userContent/images/job-page-photo.jpg)">
        <div class="container">
            <div class="ten columns">
                <div class="resume-titlebar">
                    <img src="~/Content/userContent/images/resumes-list-avatar-01.png" alt="">
                    <div class="resumes-list-content">
                        <h4 style="color:white;">
                            Danish Taimoor
                            <span style="color:white;">UX/UI Graphic Designer</span>

                        </h4>
                        <span class="icons" style="color:white;"><i class="fa fa-map-marker"></i>Gulberg, Lahore</span>
                        <span class="icons" style="color:white;"><a href="#" style="color:white;"><i class="fa fa-link"></i> My Video</a></span>
                        <div class="skills">
                            <span>JavaScript</span>
                            <span>PHP</span>
                            <span>WordPress</span>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>

            <div class="six columns">
                <div class="two-buttons">
                    <a href="#small-dialog" class="popup-with-zoom-anim button"><i class="fa fa-envelope"></i> Send Message</a>

                    <div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
                        <div class="small-dialog-headline">
                            <h2>Send Message to Danish</h2>
                        </div>

                        <div class="small-dialog-content">
                            <form action="#" method="post">
                                <input type="text" placeholder="Full Name" value="" />
                                <input type="text" placeholder="Email Address" value="" />
                                <textarea placeholder="Message"></textarea>

                                <button class="send">Submit Query</button>
                            </form>
                        </div>

                    </div>
                    <a href="#" class="button dark"><i class="fa fa-star"></i> Bookmark This Resume</a>
                </div>
            </div>

        </div>
    </div>


    <!-- Content
    ================================================== -->
    <div class="container">
        <!-- Recent Jobs -->
        <div class="eight columns">
            <div class="padding-right">
                <h3 class="margin-bottom-15">About Me</h3>
                <p class="margin-reset">
                    The Food Service Specialist ensures outstanding customer service is provided to food customers and that all food offerings meet the required stock levels and presentation standards. Beginning your career as a Food Steward will give you a strong foundation in Speedway’s food segment that can make you a vital member of the front line team!
                </p>
                <br>
                <p>The <strong>Food Service Specialist</strong> will have responsibilities that include:</p>
                <ul class="list-1">
                    <li>Excellent customer service skills, communication skills, and a happy, smiling attitude are essential.</li>
                    <li>Must be available to work required shifts including weekends, evenings and holidays.</li>
                    <li>Must be able to perform repeated bending, standing and reaching.</li>
                    <li>Must be able to occasionally lift up to 50 pounds</li>
                </ul>

            </div>
        </div>


        <!-- Widgets -->
        <div class="eight columns">

            <h3 class="margin-bottom-20">Education</h3>

            <!-- Resume Table -->
            <dl class="resume-table">
                <dt>
                    <small class="date">2012 - 2015</small>
                    <strong>Bsc Computing at College of Science Lahore</strong>
                </dt>
                <dd>
                    <p>Captain, why are we out here chasing comets? Maybe we better talk out here; the observation lounge has turned into a swamp. Ensign Babyface!</p>
                </dd>
                <dt>
                    <small class="date">2006 - 2010</small>
                    <strong>GCSE something at King Edward Lahore</strong>
                </dt>
                <dd>
                    <p>Excellent customer service skills, communication skills, and a happy, smiling attitude are essential.</p>
                </dd>
                <dt>
                    <small class="date">2004 - 2006</small>
                    <strong>Test 2 at Test</strong>
                </dt>
                <dd>
                    <p>Excellent customer service skills, communication skills, and a happy, smiling attitude are essential.</p>
                </dd>
            </dl>
        </div>
       
        <div class="eight columns">

            <h3 class="margin-bottom-20">Experience</h3>

            <!-- Resume Table -->
            <dl class="resume-table">
                <dt>
                    <small class="date">Feb 2012 - Jan 2013</small><br />
                    <small>.NET Developer</small>
                    <strong>Microsoft pvt. Ltd.</strong>
                </dt>
                <dd>
                    Experience at Microsoft was mind blowing and had great opportunity to learn and move forward.
                </dd>
                <dt>
                    <small class="date">Feb 2014 - Jan 2015</small><br />
                    <small>.NET Developer</small>
                    <strong>Texel Pvt. Ltd.</strong>
                </dt>
                <dd>
                    Experience at Texel was mind blowing and had great opportunity to learn and move forward.
                </dd>
                <dt>
                    <small class="date">Feb 2015 - Jan 2016</small><br />
                    <small>Project Manager</small>
                    <strong>PlanX pvt. Ltd.</strong>
                </dt>
                <dd>
                    Experience at Planx was mind blowing and had great opportunity to learn and move forward.
                </dd>
            </dl>
        </div>
        <div class="eight columns">

            <h3 class="margin-bottom-20">Projects</h3>

            <!-- Resume Table -->
            <dl class="resume-table">
                <dt>
                    <small class="date">Jun 2016 - Aug 2016</small> <br />
                    <strong>Magnetic character recognition From Cheques</strong>
                </dt>
                <dd>
                    <b>Project Manager at College of Science Lahore</b><br />
                    <small>Completeing this project was considered a high achievement for us</small>
                    <p> <a href="http://www.google.com" target="_blank">Link of Project</a></p>
                </dd>
                <dt>
                    <small class="date">Jun 2015 - Aug 2015</small> <br />
                    <strong>Barcode Recognition from images</strong>
                </dt>
                <dd>
                    <b>Project Manager at College of Science Lahore</b><br />
                    <small>Completeing this project was considered a high achievement for us</small>
                    <p> <a href="http://www.google.com" target="_blank">Link of Project</a></p>
                </dd>
                
            </dl>
        </div>

        <!-- Languages and Skilss-->
        <div class="nine columns">

            <h3 class="margin-bottom-20">Skills</h3>

            <!-- Resume Table -->
            <dl class="resume-table">
                <dt>
                    <strong class="date">Data Structure<small> - 3 years Experience</small></strong>
                </dt>
                <dt>
                    <strong class="date">Image Processing<small> - Less than one year Experience</small></strong>
                </dt>
                <dt>
                    <strong class="date">Asp.NET MVC<small> - 5+ years Experience</small></strong>
                </dt>

            </dl>
        </div>
        <div class="seven columns">

            <h3 class="margin-bottom-20">Languages</h3>

            <!-- Resume Table -->
            <dl class="resume-table">
               
                <dt>
                    <strong class="date">Urdu<small> - Beginner</small></strong>
                </dt>
                <dt>
                    <strong class="date">Balochi<small> - Expert</small></strong>
                </dt>
                <dt>
                    <strong class="date">English<small> - Intermediate</small></strong>
                </dt>
            </dl>
        </div>
        
    </div>

    <!-- Footer
    ================================================== -->
    <div class="margin-top-45"></div>

    @Html.Partial("~/Views/Footer/_partialUserFooter.cshtml")

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

</div>
