<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\Dr Hasnain Ayoub\Desktop\Portal Package\Din Media Group Job Portal.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>DinMediaGroupJobPortal</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DinJobPortalEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Din_Media_Group_Job_Portal.Models.DinJobPortalEntities, Din Media Group Job Portal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DinJobPortalEntities1" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DRHASNAINAYOUB\SQLSERVER;Initial Catalog=DinJobPortal;Persist Security Info=True;User ID=sa;Password=1111;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DinJobPortalEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.DinJobPortal.csdl|res://*/Models.DinJobPortal.ssdl|res://*/Models.DinJobPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DRHASNAINAYOUB\SQLSERVER;initial catalog=DinJobPortal;persist security info=True;user id=sa;password=1111;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DinJobPortalEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DinJobPortalEntities1-Web.config Connection String" />
  </ItemGroup>
</Project>