@{
    ViewBag.Title = "Complete Profile";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<script type="text/javascript" src="/Content/datepicker/jquery-ui.js"></script>
<link type="text/css" href="/Content/datepicker/jquery-ui.css" rel="stylesheet" />
<script>
    jQuery(document).ready(function () {
        $('#company-establishment').datepicker({
            //comment the beforeShow handler if you want to see the ugly overlay
            beforeShow: function () {
                setTimeout(function () {
                    $('.ui-datepicker').css('z-index', 99999999999999);
                }, 0);
            }
        });
    });
</script>

<div id="wrapper">


    <!-- Header
    ================================================== -->
    <header class="sticky-header full-width">
        @Html.Partial("~/Views/Header/HeaderSelectionEmployer.cshtml")
    </header>
    <div class="clearfix"></div>
    <script>
        $(".sticky-header #logo a img").attr("src", "/Content/userContent/images/logo.png");
    </script>

    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="single submit-page" style="background: url(/Employer_images/cover_images/edit_cover.jpg) fixed border-box; background-size: contain; background-size: cover; ">
        <div class="container" style="background-color: rgba(211, 211, 211, 0.5);">
            <div class="sixteen columns">
                <h2><i class="fa fa-plus-circle"></i> Complete Profile</h2>
            </div>
        </div>
    </div>
    <!-- Content
    ================================================== -->
    <div class="container">
        <!-- Submit Page -->
        <div class="sixteen columns">
            <div class="submit-page">
                
                <!-- no of employees -->
                <div class="form">
                    <h5>Number of Employees</h5>
                    <input class="search-field" type="number" placeholder="e.g. 10" value="" />
                </div>
                
                <!-- Title -->
                <div class="form">
                    <h5>Date of Establishment of your company</h5>
                    <input class="search-field" type="text" placeholder="e.g. 03/22/2017" value="" id="company-establishment" />
                </div>
                
                <!-- Logo -->
                <div class="form">
                    <h5>Logo <span></span></h5>
                    <label class="upload-btn">
                        <input type="file" multiple />
                        <i class="fa fa-upload"></i> Browse
                    </label>
                    <span class="fake-input">No file selected</span>
                </div>
                <div class="form">
                    <h5>Cover image <span>(optional)</span></h5>
                    <label class="upload-btn">
                        <input type="file" multiple />
                        <i class="fa fa-upload"></i> Browse
                    </label>
                    <span class="fake-input">No file selected</span>
                </div>

                <!-- Video -->
               
                <div class="form">
                    <h5>Upload Video <span>(optional)</span></h5>
                    <label class="upload-btn">
                        <input type="file" multiple />
                        <i class="fa fa-upload"></i> Browse
                    </label>
                    <span class="fake-input">No file selected</span>
                </div>

                <!-- Description -->
                <div class="form">
                    <h5>Summary (About company)</h5>
                    <textarea class="" name="summary" cols="40" rows="6" id="summary" spellcheck="true"></textarea>
                </div>


                <!-- Department -->
                <div class="form with-line">
                    <h5>Add Department <span>(optional)</span></h5>
                    <div class="form-inside">

                        <!-- Add Education -->
                        <div class="form boxed box-to-clone education-box">
                            <a href="#" class="close-form remove-box button"><i class="fa fa-close"></i></a>
                            Department Name
                            <input class="search-field" type="text" placeholder="e.g. HR" value="" />
                            Number of Employees in that Department
                            <input class="search-field" type="number" placeholder="e.g. 4" value="" />
                            Deprtment Introduction
                            <textarea name="desc" id="desc" cols="30" rows="10" placeholder="Write about Department"></textarea>
                        </div>

                        <a href="#" class="button gray add-education add-box"><i class="fa fa-plus-circle"></i> Add Department</a>
                    </div>
                </div>

                <div class="divider margin-top-0 padding-reset"></div>
                <a href="#" class="button big margin-top-5">Preview <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>

    <!-- Footer
    ================================================== -->
    <div class="margin-top-60"></div>

    @Html.Partial("~/Views/Footer/_partialUserFooter.cshtml")

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->